<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/products.css" />
    <link rel="stylesheet" href="/styles/about.css" />
    <link rel="stylesheet" href="/styles/cart.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/faq.css" />
    <title>Pharmworld: <%= title %></title>
  </head>
  <body>
   
    <nav>

      <span>
        <h1 class="logo">Pharmworld <span><%= user.name %></span></h1>
      </span>

      <ul>
        <li><a href="/" class="active">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>

        <% if (loggedIn) {%>
          <li>
            <form method="POST" action="/auth/logout?_method=POST">
              <button type="submit">Logout</button>
            </form>
          </li>
        <% } else { %>  
        <li><a href="/login">Login</a></li>
        <% } %>  
      </ul>

      <% if (loggedIn) {%>
        <span>
          <a href="/cart"> (<%= items.length %>) Cart </a>
        </span>
      <% } %>  
    </nav>

    <main>