<%- include('../partials/layout_top') -%>
     
     <section id="products">
      
        <div class="product">
          <img src="/images/pill.jpg" loading="lazy" alt="" />
          <h3 class="product-name">Medicine</h3>
          <p class="product-price">Price: <span class="value">$10</span></p>

          <p class="product-price">Min Order: <span class="value">5</span></p>

          <p class="product-price">In Stock: <span class="value">15</span></p>

          <button class="product-button">Add to cart</button>
        </div>

        <div class="product">
          <img src="/images/pill.jpg" loading="lazy" alt="" />
          <h3 class="product-name">Medicine</h3>
          <p class="product-price">Price: <span class="value">$10</span></p>

          <p class="product-price">Min Order: <span class="value">5</span></p>

          <p class="product-price">In Stock: <span class="value">15</span></p>

          <button class="remove-from-cart">Remove from cart</button>
        </div>

        <div class="product">
          <img src="/images/pill.jpg" loading="lazy" alt="" />
          <h3 class="product-name">Medicine</h3>
          <p class="product-price">Price: <span class="value">$10</span></p>

          <p class="product-price">Min Order: <span class="value">5</span></p>

          <p class="product-price">In Stock: <span class="value">15</span></p>

          <button class="product-button">Add to cart</button>
        </div>

        <div class="product">
          <img src="/images/pill.jpg" loading="lazy" alt="" />
          <h3 class="product-name">Medicine</h3>
          <p class="product-price">Price: <span class="value">$10</span></p>

          <p class="product-price">Min Order: <span class="value">5</span></p>

          <p class="product-price">In Stock: <span class="value">15</span></p>

          <button class="product-button">Add to cart</button>
        </div>

        <div class="product">
          <img src="/images/pill.jpg" loading="lazy" alt="" />
          <h3 class="product-name">Medicine</h3>
          <p class="product-price">Price: <span class="value">$10</span></p>

          <p class="product-price">Min Order: <span class="value">5</span></p>

          <p class="product-price">In Stock: <span class="value">15</span></p>

          <button class="product-button">Add to cart</button>
        </div>
      </section>

      <%- include('../partials/layout_bottom') -%>