* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

#wrapper {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
#wrapper #sidebar {
  width: 20%;
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#wrapper #sidebar h1 {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
#wrapper #sidebar ul {
  list-style: none;
  padding: 0;
}
#wrapper #sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  background-color: #222;
  transition: all 0.3s ease;
}
#wrapper #sidebar ul li a:hover {
  background-color: #444;
}
#wrapper #main {
  width: 80%;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  padding: 20px;
}