#products h1 {
  margin-bottom: 15px;
}
#products table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  border: 0px solid #fff;
  border-radius: 5px;
  overflow: hidden;
}
#products table th {
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}
#products table td {
  padding: 10px;
  background-color: #f3f3f3;
  text-align: center;
}
#products table td.product-name {
  text-align: left;
}
#products table td img {
  width: 60px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
#products table td#actions {
  width: 100px;
}
#products table a,
#products table button {
  width: 60%;
  font-size: 12px;
  font-family: sans-serif;
  display: block;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  text-decoration: none !important;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
#products table a:hover,
#products table button:hover {
  background-color: rgb(27, 24, 24);
}
#products table button.delete {
  background-color: #a81505;
  color: #fff;
  margin-top: 5px;
}
#products table button.delete:hover {
  background-color: #f00;
}