<%- include('../partials/layout_top') -%>

      <section id="about">
        <h1>More about our products</h1>

        <div id="product-list">
          <div class="product-info">
            <div class="col1">
              <img src="/images/pill.jpg" loading="lazy" alt="" />
            </div>
            <div class="col2">
              <span>Product name</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt, sint odit? Dolorum voluptates repudiandae, unde alias
                maxime enim voluptatem hic veritatis corrupti quos dolores quam
                placeat id quo, amet accusamus. lore
              </p>
            </div>
          </div>
        </div>
      </section>
      
<%- include('../partials/layout_bottom') -%>