#about {
  padding: 0 20px;
}
#about h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
  opacity: 0.8;
}
#about #product-list .product-info {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  display: flex;
}
#about #product-list .product-info .col1 {
  flex: 1;
}
#about #product-list .product-info .col1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
#about #product-list .product-info .col2 {
  flex: 2;
  padding-left: 20px;
}
#about #product-list .product-info .col2 span {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  opacity: 0.8;
}
#about #product-list .product-info .col2 p {
  font-size: 0.9rem;
  color: #000;
  opacity: 0.8;
}