#faq {
  padding: 0px 20px;
}
#faq h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
#faq .question {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#faq .question ul {
  margin-top: 10px;
  margin-left: 40px;
}
#faq .question ul li {
  margin-bottom: 10px;
}
#faq .question p {
  margin-top: 10px;
  margin-left: 30px;
}